<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fusio.tag.dao.custom.ExtTagsMapper">
	<select id="qryDirectParentTag" parameterType="hashmap" resultMap="com.fusio.tag.dao.autogen.TagsMapper.BaseResultMap">
		SELECT * FROM tags WHERE tag_id=(SELECT pid FROM tags 
			<where>
				<if test="tagId != null and tagId.length() > 0">
					tag_id=#{tagId}
				</if>
				<if test="code != null and code.length() > 0">
					code=#{code}
				</if>
			</where>
		)
	</select>
	<resultMap id="qryDirectParentTag_rm" type="hashmap" extends="com.fusio.tag.dao.autogen.TagsMapper.BaseResultMap" >
    	<!-- <result column="magazine_id" property="magazineId"/> -->
 	</resultMap>
	
	<insert id="insertTagsBatch" parameterType="List"> 
	      insert into tags(
		  	  tag_id,
			  name,
			  full_name,
			  code,
			  level,
			  catg_id,
			  pid,
			  status,
			  full_id,
			  created_at,
			  created_by,
			  updated_by
	    )
	    values 
	    <foreach collection="list" item="item" index="index" separator="," >  
	       (
		  		#{item.tagId},
				#{item.name},
				#{item.fullName},
				#{item.code},
				#{item.level},
				#{item.catgId},
				#{item.pid},
				#{item.status},
				#{item.fullId},
				#{item.createdAt},
				#{item.createdBy},
				#{item.updatedBy}
	       )  
	    </foreach>
    </insert>
    
    
    
    <select id="getIdByTagCode" parameterType="String" resultType="Integer">
		SELECT id FROM tg_tag WHERE code=#{code}
	</select>
	<select id="getIdByCatgCode" parameterType="String" resultType="Integer">
		SELECT id FROM tg_catg WHERE code=#{code}
	</select>
	
	
	<select id="getTagIdByTagCode" parameterType="String" resultType="String">
		SELECT tag_id FROM tags WHERE code=#{code}
	</select>
	<select id="getCatgIdByCatgCode" parameterType="String" resultType="String">
		SELECT catg_id FROM catg WHERE code=#{code}
	</select>
	
	<select id="getTagAllLevel" parameterType="String" resultType="Integer">
		SELECT LEVEL FROM tags GROUP BY LEVEL ORDER BY LEVEL ASC
	</select>
	
	<select id="getCatgAllLevel" parameterType="String" resultType="Integer">
		SELECT LEVEL FROM catg GROUP BY LEVEL ORDER BY LEVEL ASC
	</select>
	
</mapper>